.wrap {
    padding: 12px 16px 10px;
}

.editor-wrap {
    margin-top: 10px;
}

.editorOperation {
    margin-top: 10px;

    text-align: right;
}

.btn {
    border-radius: 3px;
    margin-left: 20px;
    padding: 0 16px;
    line-height: 30px;

    font-size: 12px;
}

.cancelBtn {
    composes: btn;

    border: 1px solid #9c9c9c;

    color: #000000;
    background-color: transparent;
}
.cancelBtn:hover {
    background-color: #F5F4F0;
}

.submitBtn {
    composes: btn;

    border: 1px solid #50adf9;

    color: #fff;
    background-color: #77b1d7;
}
.submitBtn:hover {
    background-color: #5692d7;
}

.conversationBox {

}