.wrap {
    margin-top: -15px;
    line-height: 30px;
}

.btn {
    border: none;
    border-radius: 0;
    line-height: inherit;

    background-color: transparent;
    text-align: center;
    vertical-align: middle;
}

.btn:hover .btnText {
    color: rgba(241, 47, 47, 0.86);
}

.btn + .btn {
    margin-left: 20px;
}

.icon {
    margin-right: 5px;
    width: 25px;
    height: 25px;

    vertical-align: -6px;
}

.btnText {
    letter-spacing: .03cm;
}