.wrap {
    border-radius: 2px;
    width: 360px;
    max-height: 600px;

    background: #fff;

    z-index: 9999;
}

.cover-wrap {
    height: 100px;
    margin: 0 -15px;
    overflow: hidden;
}

.cover {
    width: 100%;
    height: 100%;
}

.info-wrap {
    position: relative;

    border-bottom: 1px solid #f0f2f7;
    padding-top: 5px;
    padding-bottom: 15px;
}

.avatar {
    position: absolute;

    border: 2px solid #fff;
    border-radius: 50%;
    top: -15px;
    width: 70px;
    height: 70px;
}

.title-wrap {
    margin-left: 86px;
    min-height: 40px;
    max-height: 49px;

    overflow: hidden;
}

.userName {
    font-size: 16px;
    font-weight: 500;
}

.desc-wrap {
    margin-top: 7px;

    color: rgba(0, 0, 0, 0.61);
    font-size: 14px;
    font-weight: 400;
}

.desc {
    word-break: break-all;
    white-space: pre-wrap;
}
