.wrap:not(:first-child) {
    border-top: 1px solid #f0f2f7;
    margin-top: 20px;
}

.fixed-operationBar {
    position: fixed;

    bottom: 0;
    width: 600px;

    box-shadow: 0 -1px 3px rgba(0,34,77,.05);
}