.wrap {
    margin-top: 30px;
    height: 40px;
    line-height: 40px;
}

.btn {
    line-height: inherit;

    text-align: center;
    vertical-align: middle;
}

.btn-vote {
    composes: btn;

    border: 1px solid #ccd8e1;
    border-radius: 3px;
    padding: 0 10px;

    color: #2d84cc;
    background: transparent;
}

.btn-vote > svg {
    vertical-align: -10%;
}

.btn-praise {
    composes: btn-vote;
}

.btn-praise:hover > svg {
    color: #f3773e;
}

.btn-thumbdown {
    composes: btn-vote;

    margin-left: 5px;
}

.btn-thumbdown:hover > svg {
    color: #080808;
}

.otherBtn {
    composes: btn;

    border: none;
    margin-left: 30px;

    font-size: 14px;

    background-color: transparent;
}

.otherBtn > svg {
    margin-right: 10px;

    color: #000;
}

.otherBtn:hover {
    color: #ee8054;
}

.btn-comment {
    composes: otherBtn;
}

.btn-comment > svg {
    vertical-align: -6%;
}

.btn-share {
    composes: otherBtn;
}

.btn-share > svg {
    vertical-align: -9%;
}

.riseOrFallBtn {
    composes: btn;

    border: none;
    line-height: inherit;

    font-size: 14px;
    letter-spacing: 0.5em;
    background-color: transparent;
}

.riseOrFallBtn:hover {
    color: rgba(84, 75, 73, 0.66);
}

.riseOrFallBtn > svg {
    vertical-align: initial;
}

.btn-expand {
    composes: riseOrFallBtn;

    float: right;

    margin-left: auto;
}

.btn-fold {
    composes: riseOrFallBtn;

    float: right;

    margin-left: auto;
}

.icon-vote {
    width: 20px;
    height: 20px;

    color: #4898d3;
}

.icon-praise {
    composes: icon-vote;

    margin-right: 7px;
}

.icon-thumbdown {
    composes: icon-vote;
}

.icon-comment {
    width: 16px;
    height: 14px;
}

.icon-share {
    width: 16px;
    height: 16px;
}

.icon-expand {
    margin-left: 10px;
    width: 16px;
    height: 10px;
}

.icon-fold {
    margin-left: 8px;
    width: 16px;
    height: 10px;
}
