.wrap:not(:first-child) {
    border-top: 1px solid #f0f2f7;
    margin-top: 20px;
}

.fixed-operationBar {
    position: fixed;

    bottom: -1px;

    background: #fff;
    box-shadow: 0 -1px 3px rgba(0,34,77,.05);
}

.commentList-wrap {
    border: 1px solid rgba(0, 33, 77, 0.13);
}