.wrap:not(:first-child) {
    border-top: 1px solid #a7b3ff;
    margin-top: 20px;
}

.wrap:not(:last-of-type) {
    margin-bottom: 20px;
}

.fixed-operationBar {
    position: fixed;

    bottom: -1px;

    background: #fff;
    box-shadow: 0 -1px 3px rgb(146, 140, 140);
}

.commentListBox {

}

.commentList-wrap {
    border: 1px solid rgba(0, 33, 77, 0.13);
}