.share-wrap {
    margin: 0 -16px;
    line-height: 30px;
    width: 120px;

    text-align: center;
    cursor: pointer;
}

.share-wrap:hover {
    background-color: hsla(120, 6%, 81%, 0.22);
}

.share-link {
    font-size: 14px;
}

.share-icon-wb {
    margin-left: 10px;
    height: 20px;
    width: 20px;

    vertical-align: -5px;
}